.card-body {
    padding: 2.5rem!important;
}
.btn-block {
    display: block;
    width: 100%;
    color: #fff;
    background-color: #754ffe;
    border-color: #754ffe;  
}
.link {
    text-decoration: none;
    color: #754ffe;
    background-color: transparent;

}
.btn:hover {
    color: #fff;
    background-color: #5729fe;
    border-color: #4d1cfe;
}
